<div class="backPics">
  <app-nav-bar></app-nav-bar>
  <div class="header">
    <div class="blockBackPoke">
      <img
        class="backPoke"
        src="/assets/picture/background2.png"
        alt="backPokemon"
      />
    </div>
    <mat-icon class="remove" routerLink="/pokedex" routerLinkActive="active"
      >cancel</mat-icon
    >
    <div class="conteneurPoke">
      <img class="pokemon" src=" {{ pokePics }}" alt="" />
    </div>
  </div>
  <div></div>
  <div class="conteneurName">
    <h1 class="namePoke">{{ name }}</h1>
    <div class="conteneurSex">
      <img class="sexPics" src="{{ sexPics }}" alt="" />
    </div>
  </div>
  <div class="conteneurDetailPoke">
    <div class="detailPoke">
      <h2 class="type">Type:</h2>
      <div class="conteneurType">
        <img class="typePics" src="{{ type }}" alt="" />
      </div>
    </div>
    <div class="conteneurResume">
      <h2 class="titreResume">Resumer:</h2>
      <p>
        {{ pokeResum }}
      </p>
    </div>
  </div>
</div>
