.backPics {
  background: linear-gradient(#81f3fd, #1d77ef);
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: none;
}
.header {
  min-height: 35%;
}

.mat-icon {
  color: white;
  position: absolute;
}
.mat-icon.notranslate.remove.material-icons.mat-icon-no-color {
  width: 11%;
  font-size: 300%;
  height: 8%;
}

.backPoke {
  width: 100%;
}
.blockBackPoke {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pokemon {
  width: 100%;
}
.conteneurPoke {
  position: relative;
  width: 30%;
  margin-top: 5%;
  padding-left: 35%;
  bottom: 0;
}
.conteneurName {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;

  margin-bottom: 2%;
}
.sexPics {
  width: 80%;
}
.namePoke {
  padding-top: 5%;
  font-size: 10vw;
  color: aliceblue;
}
.typePics {
  width: 100%;
}
.detailPoke {
  display: flex;
  justify-content: content;
  align-content: center;
}
.conteneurDetailPoke {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.type {
  font-size: 7vw;
  color: aliceblue;
  padding-top: 3%;
}
.conteneurResume {
  margin-top: 2%;
  font-size: 5vw;
  color: aliceblue;
  line-height: 150%;
}
.resume > p {
  overflow: hidden;
  padding-right: 5%;
  word-wrap: break-word;
}
.titreResume {
  padding-top: 5%;
  font-size: 7vw;
  color: aliceblue;
}
.conteneurType {
  width: 15%;
}
.conteneurSex {
  width: 20%;
}
