<div class="backPics">
  <!-- Search Bar -->
  <app-nav-bar></app-nav-bar>
  <!-- <div class="searchBar">
    <mat-form-field style="color: #0077ee;" appearance="outline">
      <mat-label>Filtre</mat-label>
      <input matInput placeholder="Ex:Pikachu" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div> -->
  <!-- Card -->
  <div class="card">
    <mat-card class="card2">
      <mat-card-content>
        <div class="element" *ngFor="let item of pokemon">
          <div>
            <img
              class="littlePics"
              src=" {{ item.littlePokePics }}"
              alt="image miniature pokemon"
            />
          </div>
          <div>{{ item.name }}</div>
          <div>
            <mat-icon
              [routerLink]="['/detailPokedex/', item.id]"
              routerLinkActive="active"
              style="color: #0077ee;"
              >remove_red_eye</mat-icon
            >
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
