.searchBar {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5%;
}
.card {
  margin-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
}
.littlePics {
  width: 100%;
}
.element {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mat-card-content {
  overflow: scroll;
}
.backPics {
  background: url("/assets/picture/backgroun1.jpg") no-repeat;
  background-size: 250%;
  display: flex;
  flex-direction: column;
  overflow: none;
}
mat-card.mat-focus-indicator.card2 {
  overflow: scroll;
  margin-bottom: 20%;
  margin-top: 10%;
  max-height: 100%;
}
