<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/" routerLinkActive="active">
    Accueil
  </button>
</mat-menu>
<mat-toolbar>
  <mat-toolbar-row>
    <div mat-button [matMenuTriggerFor]="menu">
      <mat-icon
        style="color: white;"
        aria-hidden="false"
        aria-label="Example home icon"
        >menu</mat-icon
      >
    </div>
    <div class="img-wrapper">
      <img
        class="pokeball"
        src="./assets/picture/homePokeball.png"
        alt="Image d'une pokeball"
      />
    </div>
  </mat-toolbar-row>
</mat-toolbar>
