img.pokeball {
  width: 2.5em;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  left: 0;
  padding-right: 23px;
}
.mat-toolbar-row {
  background: #0077ee;
}
