<div class="backPics">
  <app-nav-bar></app-nav-bar>
  <div class="contentImg">
    <img
      class="pokePics"
      src="/assets/picture/PokePics.png"
      alt="Logo pokemon"
    />
  </div>
  <div class="contentStart">
    <mat-button-toggle
      routerLink="pokedex"
      routerLinkActive="active"
      class="startButton"
      value="Commencer"
      ><p>Commencer</p></mat-button-toggle
    >
  </div>
</div>
