.backPics {
  background: url("/assets/picture/backgroun1.jpg") no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: 170%;
  flex-direction: column;
}
.remove {
  position: absolute;
  width: 35%;
}
.pokePics {
  padding-top: 30%;
  width: 90%;
  margin-bottom: 15%;
}
.startButton {
  background-color: #0077ee;
  color: azure;
  width: 30%;
  height: 50%;
}
.contentImg {
  display: flex;
  align-content: center;
  justify-content: center;
}
.contentStart {
  display: flex;
  align-content: center;
  justify-content: center;
}
.startButton,
p {
  margin-bottom: 10%;
  max-width: 50%;
}
.mat-button-toggle-label-content {
  display: flex;
  align-content: center;
  justify-content: center;
}
